.contacts {
  padding: 5em 3em;
  color: white;
  font-size: 1.1em;
  font-family: Verdana, sans-serif;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .contact-item {
    h4 {
      font-weight: bold;
      margin-bottom: 0.3em;
      font-size: 1.2em;
    }

    p {
      margin: 0;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.8);
      user-select: text;
      letter-spacing: 0.05em;
    }
  }
}
