.pageDiv {
  margin: 2em 3em;
  color: #e6e6e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 980px;
  line-height: 1.5;
}

.txtTitle {
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 0.8em;
  color: #ffd936;
}

.parentsTxt p,
.parentsTxt ul,
.vacancies p,
.vacancies ul {
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #e6e6e6;
}

.parentsTxt ul,
.vacancies ul {
  padding-left: 1.4em;
}

.parentsTxt li,
.vacancies li {
  margin-bottom: 0.4em;
}

.parGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2em;
  margin: 1em 0 2em;
}

.parFlex {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.parFlex article,
.parGrid article {
  background: colors.$color-black;
  border-radius: 12px;
  padding: 1em 1.2em;
  box-shadow: 2px 2px 8px rgba(1, 1, 17, 0.3);
  flex: 1 1 280px;
  color: #d0d0d0;
}

h2,
h3 {
  color: #ffc045;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}
