.nutritionPage {
  max-width: 90%;
  margin: 2em auto 4em auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ececec;
  background: #22242f;
  border-radius: 1.2em;
  padding: 2em 1.5em;
  box-shadow: 0 8px 36px rgba(63, 70, 83, 0.12);
}
.nutritionPage header h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffed38;
  margin-bottom: 0.9em;
  text-align: center;
}
.nutritionPage section {
  margin-bottom: 2.5em;
}
.nutritionPage h2 {
  color: #ffe178;
  font-size: 1.35em;
  margin-bottom: 0.6em;
  font-weight: 600;
}
.nutritionPage p,
.nutritionPage ul,
.nutritionPage address,
.nutritionPage blockquote {
  font-size: 1.08em;
  line-height: 1.6;
  margin-bottom: 0.8em;
  color: #e5e5e5;
}
.nutritionLinks {
  padding-left: 1.3em;
  margin-bottom: 1.3em;
}
.nutritionLinks li {
  margin-bottom: 0.6em;
}
.nutritionPage address {
  background: #282a3b;
  border-radius: 1em;
  padding: 0.8em 1.2em;
  color: #d3d6ed;
  font-style: normal;
}
.nutritionPage table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  box-shadow: 0 3px 16px rgba(43, 51, 61, 0.09);
  background: #292c3f;
  border-radius: 0.7em;
  overflow: hidden;
}
.nutritionPage table caption {
  font-size: 1.15em;
  color: #ffed38;
  padding: 0.7em 0 0.4em 0;
  text-align: left;
}
.nutritionPage th,
.nutritionPage td {
  border-bottom: 1px solid #43475e;
  padding: 0.7em 0.5em;
  text-align: left;
  font-size: 1em;
}
.nutritionPage th {
  background: #252b38;
  font-weight: 600;
  color: #ffe178;
}
.nutritionPage tr:last-child td {
  border-bottom: none;
}
.nutritionBut {
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1.1em;
  font-size: 1em;
  background: #ffd936;
  color: #1e233b;
  border-radius: 0.6em;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.18s;
}
.nutritionBut:hover {
  background: #fff175;
}
.nutritionPage blockquote {
  background: #282e4d;
  border-left: 5px solid #ffed38;
  padding: 1em 1.2em;
  border-radius: 0.8em;
  color: #e8e243;
  font-size: 1.12em;
  margin-bottom: 1.3em;
}

.anketa {
  color: #ffd936;
  text-decoration: underline;
  font-weight: 600;
}
